

.progress-bar-container {
    width: 80%;
    background-color: #e0e0e0;
    /* border-radius: 5px; */
    overflow: hidden;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
  }
  
  .progress-text {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
  }
  