


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .question-card {
    background-color: wheat;
    border-radius: 10px;
    /* text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    color: black;
  }
  
  .question-card h3 {
    font-size: 1.5rem;
    color: #333333;
    margin-top: 0;
    text-align: center;
  }
  
  .answers {
    margin-top: 20px;
  }
  
  .answer-option {
    margin-bottom: 10px;
  }
  
  .answer-option input[type="radio"] {
    display: none;
  }
  
  .answer-option label {
    display: block;
    width: 100%;
    min-width: 250px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #355bda;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .answer-option input[type="radio"]:checked + label {
    /* background-color: #28a745; */
    /* Green color for correct answer */
    /* color: #ffffff; */
    color: black;
    background-color: wheat;
  }
  
  .answer-option input[type="radio"]:not(:checked) + label:hover {
    background-color: #6880d0; /* color for incorrect answer */
    color: #ffffff;
  }
  
  .button {
    background-color: black;
    color: wheat;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
  }
  
  .button:hover {
    background-color: #353434;
  }

  .flex{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    line-height: 2;
  }
  
  